<aside class="sidebar" role="navigation">
  <a class="brand sidebar-brand" href="/">
    <img
      src="{{ url_for('assets', filename='images/borealis_small.png') }}"
      alt="Borealis logo"
      class="brand-logo"
    />
  </a>

  {% set is_dashboard = request.path == url_for('index') %} {% set is_users =
  request.path == url_for('users') %} {% set is_libraries = request.path ==
  url_for('libraries') %} {% set is_activitylog = request.path ==
  url_for('activitylog') %} {% set is_settings = request.path ==
  url_for('settings') %} {% set is_setup = request.path == url_for('setup') %}

  <ul class="sidebar-links" role="menu">
    <li role="none">
      <a
        role="menuitem"
        href="/"
        class="{{ 'active' if is_dashboard else '' }}"
        data-path="{{ url_for('index') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/dashboard.png') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_dashboard else 'sidebar-icon'}}"
        />
        <span>Dashboard</span>
      </a>
    </li>
    <li role="none">
      <a
        role="menuitem"
        href="/users"
        class="{{ 'active' if is_users else '' }}"
        data-path="{{ url_for('users') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/users.png') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_users else 'sidebar-icon'}}"
        />
        <span>Users</span>
      </a>
    </li>
    <li role="none">
      <a
        role="menuitem"
        href="/libraries"
        class="{{ 'active' if is_libraries else '' }}"
        data-path="{{ url_for('libraries') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/libraries.png') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_libraries else 'sidebar-icon'}}"
        />
        <span>Libraries</span>
      </a>
    </li>
    <li role="none">
      <a
        role="menuitem"
        href="/activitylog"
        class="{{ 'active' if is_activitylog else '' }}"
        data-path="{{ url_for('activitylog') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/activitylog.png') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_activitylog else 'sidebar-icon'}}"
        />
        <span>Activity Log</span>
      </a>
    </li>
    <li role="none">
      <a
        role="menuitem"
        href="/settings"
        class="{{ 'active' if is_settings else '' }}"
        data-path="{{ url_for('settings') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/settings.png') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_settings else 'sidebar-icon'}}"
        />
        <span>Settings</span>
      </a>
    </li>
  </ul>
</aside>
