<nav class="sidebar">
  <a class="brand sidebar-brand" href="/">
    <img
      src="{{ url_for('assets', filename='images/borealis_small.png') }}"
      alt="Borealis logo"
      class="brand-logo"
    />
  </a>

  {% set is_dashboard = request.path == url_for('index') %} {% set is_users =
  request.path == url_for('users') %} {% set is_libraries = request.path ==
  url_for('libraries') %} {% set is_playbackactivity = request.path ==
  url_for('playbackactivity') %} {% set is_settings = request.path ==
  url_for('settings') %} {% set is_setup = request.path == url_for('setup') %}

  <ul class="sidebar-links">
    <li>
      <a
        role="menuitem"
        href="/"
        class="{{ 'active' if is_dashboard else '' }}"
        data-path="{{ url_for('index') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/dashboard.svg') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_dashboard else 'sidebar-icon'}}"
        />
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a
        role="menuitem"
        href="/users"
        class="{{ 'active' if is_users else '' }}"
        data-path="{{ url_for('users') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/users.svg') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_users else 'sidebar-icon'}}"
        />
        <span>Users</span>
      </a>
      <ul id="sidebar-users-list" class="sidebar-users-list"></ul>
    </li>
    <li>
      <a
        role="menuitem"
        href="/libraries"
        class="{{ 'active' if is_libraries else '' }}"
        data-path="{{ url_for('libraries') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/libraries.svg') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_libraries else 'sidebar-icon'}}"
        />
        <span>Libraries</span>
      </a>
    </li>
    <li>
      <a
        role="menuitem"
        href="/playbackactivity"
        class="{{ 'active' if is_playbackactivity else '' }}"
        data-path="{{ url_for('playbackactivity') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/playbackactivity.svg') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_playbackactivity else 'sidebar-icon'}}"
        />
        <span>Playback Activity</span>
      </a>
    </li>
    <li>
      <a
        role="menuitem"
        href="/settings"
        class="{{ 'active' if is_settings else '' }}"
        data-path="{{ url_for('settings') }}"
      >
        <img
          src="{{ url_for('assets', filename='icons/settings.svg') }}"
          alt=""
          class="{{ 'sidebar-icon-active' if is_settings else 'sidebar-icon'}}"
        />
        <span>Settings</span>
      </a>
    </li>
  </ul>
</nav>

<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
